@import 'slide-animation.css';


.article__card__container {
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 130px;
  display: flex;
  flex-direction: column;
}

.article__card {
  display: flex;
  height: 165px;
  min-width: 600px;
  max-width: 900px;
  margin: 15px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid  */
}

.article__card:hover {
  border: 1px solid rgb(112, 112, 112);
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgb(112, 112, 112);
  transform: translateY(-4px);
  transition: transform 50ms ease-in-out;
}

.article__card__image {
  height: 1px;
  width: 200px;
}

.article__card img {
  height: 150px;
  width: 200px;
  object-fit: cover;
  padding: 0 10px;
}

.article__card__info {
  margin: 10px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.article__card__title {
  font-size: 20px;
  font-weight: bold;
}

.article__card__author {
  font-size: 14px;
  font-weight: bold;
}

.article__card__description {
  font-size: 14px;
  line-height: 1.2em;
}

.article__card__timestamp {
  font-size: 12px;
  font-weight: bold;
}

.article__card__channel-name {
  font-size: 40px;
  color: rgb(58, 58, 58);
  padding-left: 20px;
}

.articles__searchbar {
  margin: 40px 60px;
  margin-top: 18px;
}

.articles__searchbar input {
  height: 50px;
  width: 600px;
  border: 2px solid rgb(112, 112, 112);
  border-radius: 10px;
  font-size: 25px;
  padding-left: 15px;
  color: rgb(58, 58, 58);
}

.articles__searchbar input:focus {
  outline: none;
  box-shadow: 0 0 2px 1px rgb(112, 112, 112);
}



/* ----- ARTICLE DISPLAY FORM ----- */
.article__display__page {
  height: 80%;
  width: 70%;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 0 15px 2px rgb(112, 112, 112);
  border-radius: 10px;
  position: fixed;
  top: 130px;
  left: 400px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  color: rgb(58, 58, 58);
}

.article__display__page img {
  height: 40%;
  width: 50%;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 10px;
}

.article__display__info {
  width: 70%;
  margin: 0px auto;
  padding: 30px auto;
  overflow: scroll;
}

.article__display__source {
  font-size: 35px;
  margin: 10px auto;
}

.article__display__title {
  font-size: 24px;
  font-weight: bold;
  margin: 15px;
}

.article__display__author {
  font-size: 18px;
  font-weight: bold;
  margin: 15px;
}

.article__display__content {
  font-size: 16px;
  line-height: 1.3em;
  margin: 15px;
}

.article__display__url {
  font-size: 12px;
  line-height: 1.3em;
  margin: 15px;
}

.article__display__timestamp {
  font-size: 12px;
  font-weight: bold;
  margin: 15px;
}

.fa-times {
  cursor: pointer;
  font-size: 28px;
  position: relative;
  top: 10px;
  left: 14px;
}

