@import 'flip-animation.css';

/* ----- CATEGORIES ----- */
.category__card__container {
  width: 1200px;
  height: 250px;
  margin: 15px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.category__card {
  height: 220px;
  width: 160px;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 12px;
  position: relative;
}

.category__image {
  height: 220px;
  width: 160px;
  border-radius: 12px;
  object-fit: cover;
  box-sizing: border-box;
}

.category__image:hover {
  box-shadow: 0 0 2px 2px rgb(73, 216, 97);
}

.category__title {
  text-decoration: none;
  color: white;
  font-size: 22px;
  text-align: center;
  position: absolute;
  bottom: 10px;
  left: 5px;
}

.active .category__title {
  color: rgb(73, 216, 97);
}


/* ----- SOURCES ----- */
.sources__container {
  margin: 20px;
}

.source__card__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 85%;
  margin: 20px auto;
  overflow: scroll;
}

.source__card__logo {
  height: 210px;
  width: 210px;
  margin: 15px;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  border-radius: 10px;
}

.source__card__logo:hover {
  border: 1px solid rgb(112, 112, 112);
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgb(112, 112, 112);
  transform: translateY(-4px);
  transition: transform 50ms ease-in-out;
}

.source__card__logo img {
  height: 200px;
  width: 200px;
  object-fit: contain;
}

.sources__searchbar {
  margin: 40px auto;
  display: flex;
  justify-content: center;
}

.sources__searchbar input {
  height: 50px;
  width: 600px;
  border: 2px solid rgb(112, 112, 112);
  border-radius: 10px;
  font-size: 25px;
  padding-left: 15px;
  color: rgb(58, 58, 58);
}

.sources__searchbar input:focus {
  outline: none;
  box-shadow: 0 0 2px 1px rgb(112, 112, 112);
}



/* ----- SOURCE__CARD__FORM ----- */
.source__card__form {
  height: 210px;
  width: 210px;
  margin: 15px;
  position: relative;
  bottom: 4px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(58, 58, 58);
  background-color: rgb(238, 238, 238);
  /* border-radius: 10px; */
  border: 1px solid rgb(112, 112, 112);
  border-radius: 10px;
  box-shadow: 0 0 2px 2px rgb(112, 112, 112);
}

.source__card__form ul {
  position: relative;
  height: 130px;
  padding: 10px;
  border-radius: 10px;
  overflow: scroll;
}

.source__card__form li {
  list-style: none;
  font-size: 16px;
  cursor: pointer;
  margin: 8px;
  padding-left: 7px;
}

.source__card__form li:hover {
  font-weight: 700;
}

.source__card__form div {
  font-size: 20px;
  font-weight: 700;
}

.source__card__form i {
  position: absolute;
  top: 10px;
  right: 10px;
  color: rgb(58, 58, 58);
  font-size: 22px;
  cursor: pointer;
}

/* ----- MEDIA QUERIES ----- */
@media (max-width: 1550px) {
    .category__card__container {
    width: 800px;
    height: 250px;
    overflow: scroll;
  }
}