.navbar {
  background-color: rgb(238, 238, 238);
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  z-index: 0;
  box-shadow: 0 0 3px 2px rgb(112, 112, 112);
}

.navbar__logo,
.navbar__search,
.navbar__links {
  margin: 5px 20px;
}

.navbar__logo a,
.navbar__links a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}

.navbar__logo a {
  font-size: 30px;
}

.navbar__links a {
  font-size: 20px;
}

.navbar__search > form > input {
  height: 35px;
  /* width: 350px; */
  border-radius: 15px;
  font-size: 18px;
  flex-grow: 1;
}

.navbar__search > form {
  display: flex;
}

.navbar__search > form > input:focus {
  outline: none;
}

.navbar__links {
  /* width: 400px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}