.navbar {
  background-color: rgb(238, 238, 238);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 0 0 3px 2px rgb(112, 112, 112);
  position: fixed;
}

.navbar a,
.navbar i {
  font-size: 30px;
  cursor: pointer;
  color: rgb(58, 58, 58);
}

.settings__menu {
  width: 150px;
  position: absolute;
  top: 40px;
  right: 0px;
  z-index: 1;
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.settings__menu a {
  text-decoration: none;
  font-size: 20px;
  padding: 5px;
}

.position__box {
  position: relative;
}









/* OLD NAVBAR STYLES */
/* 

.navbar__logo,
.navbar__search,
.navbar__links {
  margin: 5px 20px;
}

.navbar__logo a,
.navbar__links a {
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}

.navbar__logo a {
  font-size: 30px;
}

.navbar__links a {
  font-size: 20px;
}

.navbar__search > form {
  display: flex;
}

.navbar__search > form > input:focus {
  outline: none;
}

.navbar__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */