@import './fade-animation.css';

.sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 280px;
  margin-left: 70px;
  /* background-color: rgb(238, 238, 238); */
  background-color: rgb(58, 58, 58);
  color: rgb(226, 226, 226);
  box-shadow: 0 0 3px 3px rgb(112, 112, 112);
  position: fixed;
  z-index: 2;
  /* overflow: auto; */
}

.sidebar__items {
  overflow: auto;
}

.sidebar__logo {
  margin: 25px auto;
  /* margin-top: 20px; */
}

.sidebar__logo img {
  height: 170px;
  width: 230px;
}

.welcome__message {
  width: 230px;
  margin: 0 auto;
  margin-bottom: 25px;
  text-align: center;
  line-height: 1.4em;
}



/* ------ CHANNEL HEADER && FORM // MEETDEV STYLES ----- */
.channel__container,
.meet-dev__container {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(112, 112, 112);
}

.meet-dev__container {
  margin-top: 30px;
}

.meet-dev__header {
  width: 280px;
  cursor: pointer;
}

.meet-dev__info img {
  width: 200px;
  border-radius: 50%;
  margin-top: 15px;
  box-shadow: 0 0 8px 0 rgba(211, 211, 211, .5);
}

.meet-dev__info .name {
  font-size: 22px;
  text-align: center;
  margin: 8px;
  margin-bottom: 15px;
}

.meet-dev__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  margin-top: 8px;
  margin-bottom: 30px;
}

.meet-dev__links .portfolio,
.meet-dev__links .linkedin,
.meet-dev__links .angellist {
  width: 130px;
  padding: 10px;
  border: 1px solid rgb(112, 112, 112);
  border-radius: 6px;
  text-align: center;
}

.meet-dev__links a,
.meet-dev__links a,
.meet-dev__links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
}

.meet-dev__links .portfolio:hover,
.meet-dev__links .linkedin:hover,
.meet-dev__links .angellist:hover {
  background-color: rgb(112, 112, 112);
  cursor: pointer;
}

.channel__header {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.channel__header i,
.meet-dev__header i {
  margin: 5px 12px;
  font-size: 18px;
  height: 22px;
  cursor: pointer;
}

.channel__header div {
  font-size: 16px;
  align-self: center;
  cursor: pointer;
}

.channel__header-group1 {
  display: flex;
  align-items: center;
}

.channel__list {
  margin-left: 10px;
}

.new__channel__button {
  position: relative;
}

.new__channel__form {
  height: 30px;
  width: 220px;
  border: 1px solid rgb(112, 112, 112);
  box-shadow: 0 0 2px 1px rgb(112, 112, 112);
  border-radius: 4px;
  position: relative;
  /* left: 1px; */
  z-index: 3;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new__channel__form input {
  border: none;
  max-width: 195px;
  font-size: 18px;
  padding-left: 8px;
}

.new__channel__form input:focus,
.new__channel__form button:focus {
  outline: none;
}



/* ----- CHANNEL ENTRIES ----- */
.channel__item__container {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 280px;
}

.channel__item__header {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding-left: 20px;
  box-sizing: border-box;
}

.channel__item__header-group1 {
  display: flex;
  align-items: center;
  position: relative;
  font-size: 16px;
}

.channel__item__header i {
  padding: 5px 10px;
  padding-right: 14px;
  cursor: pointer;
  color: rgb(226, 226, 226)
}

.channel__item__header div {
  cursor: pointer;
}

.cs__list {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  padding: 0;
  /* padding-left: 10px; */
  width: 167px;
  font-size: 14px;
  /* border-top: 1px solid rgb(112, 112, 112);
  border-bottom: 1px solid rgb(112, 112, 112); */
}

.cs__list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.cs__list__item li {
  list-style: none;
  margin: 5px;
}

.cs__list__item i {
  font-size: 10px;
}

.fa-minus {
  cursor: pointer;
}

.cs__list__empty {
  font-size: 14px;
  font-style: italic;
}