
.sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 280px;
  margin-left: 70px;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 0 3px 3px rgb(112, 112, 112);
  position: relative;
  z-index: 1;
}

.sidebar__logo {
  align-self: center;
  height: 170px;
}