
.sidebar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  width: 280px;
  margin-left: 70px;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 0 3px 3px rgb(112, 112, 112);
  position: fixed;
  z-index: 2;
}

.sidebar__logo {
  align-self: center;
  height: 150px;
}

.welcome__message {
  margin: 15px auto 25px;
  text-align: center;
  line-height: 1.4em;
}



/* ------ CHANNEL HEADER && FORM ----- */
.channel__container {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid rgb(112, 112, 112);
  border-bottom: 1px solid rgb(112, 112, 112);
}

.channel__header {
  display: flex;
  justify-content: space-between;
  width: 280px;
}

.channel__header i {
  margin: 5px 12px;
  font-size: 20px;
  height: 22px;
  cursor: pointer;
}

.channel__header div {
  font-size: 18px;
  align-self: center;
  cursor: pointer;
}

.channel__header-group1 {
  display: flex;
  align-items: center;
}

.channel__list {
  margin-left: 10px;
}

.new__channel__button {
  position: relative;
}

.new__channel__form {
  height: 35px;
  width: 250px;
  border: 1px solid rgb(112, 112, 112);
  box-shadow: 0 0 2px 1px rgb(112, 112, 112);
  border-radius: 4px;
  position: relative;
  /* left: 1px; */
  z-index: 3;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new__channel__form input {
  border: none;
  max-width: 195px;
  font-size: 20px;
  padding-left: 8px;
}

.new__channel__form button {
  background-color: rgb(55, 198, 255);
  height: 35px;
  width: 45px;
  border-radius: 4px;
  border: none;
  margin: 0;
  cursor: pointer;
}

.new__channel__form input:focus,
.new__channel__form button:focus {
  outline: none;
}



/* ----- CHANNEL ENTRIES ----- */
.channel__item__container {
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 280px;
  /* border-top: 1px solid rgb(112, 112, 112); */
  /* border-bottom: 1px solid rgb(112, 112, 112); */
}

.channel__item__header {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding-left: 20px;
  box-sizing: border-box;
}

.channel__item__header-group1 {
  display: flex;
  align-items: center;
}

.channel__item__header i {
  padding: 5px 10px;
  padding-right: 14px;
  cursor: pointer;
}

.channel__item__header div {
  cursor: pointer;
}